h1 {color: cornflowerblue;}
/*div {background-color: khaki;}*/
h2 {color: brown;}
h3 {color: rgb(173, 80, 173);}

/*.marron {color: brown;}
.verde { color: chartreuse;}*/
.item {font-size: 1.5rem;}

#primero {color: blueviolet;}


/*comentario en CSS*/