/*Estilos básicos después de aplicar reset.css*/
/*h1 {font-size: 3rem;
    magin-top: 1rem:
    margin-bottom: 1rem
}...*/

.menu {
    list-style: none;
} /*Quitar los puntos a las listas de mierda que son to feas JODER QUE PUTO FEAS SON COÑO*/

h1 {color: cornflowerblue;}
/*div {background-color: khaki;}*/
h2 {color: brown;}
h3 {color: rgb(173, 80, 173);}

/*.marron {color: brown;}
.verde { color: chartreuse;}*/
.item {font-size: 1.5rem;}

#primero {color: blueviolet;}


/*comentario en CSS*/