h1 {color: cornflowerblue;}
div {background-color: khaki;}
h2 {color: brown;}

/*.marron {color: brown;}
.verde { color: chartreuse;}*/
.item {font-size: 1.5rem;}

#primero {color: blueviolet;}


/*comentario en CSS*/